.home {
  height: 100vh;
  background-color: rgb(237, 237, 238);

  .projet {
    margin-left: 1%;
    margin-right: 1%;
  }
  .button-project {
    border: 2px solid #554747;
    box-shadow: $shadow-bas;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;

    img {
      width: 10px;
      height: 10px;
    }
  }
  .button {
    color: #010101;
  }
  .plus {
    color: #f7f7f7;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(169, 131, 130);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(188, 201, 45, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-width: 1px;
    border-radius: 5px;
  }
  .grey {
    color: white;
  }
}

@media (min-width: 700px) {
  * {
    font-size: 20px;
  }
  .button-project {
    margin: 0 10% 0 10%;
  }
}
