.body {
  display: grid;
  height: 1200px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr);
  gap: 3%;
  grid-template-areas:
    ". .  header header header header header header header header . . "
    ". .  projet-flag . projet-3 . navigation .  contact . . . "
    ". .  . . . . . .  . . . . "
    ". .  projet-2 . projet-4 . . .  . . . . "
    ". .  . .  . . .  .  . . . . ";

  li {
    color: $texte;
  }
  .en-cours {
    color: black;
  }
  .header-home {
    color: white;
    font-size: 2rem;
  }
  .title-cv {
    color: $initial-color;
  }
}
:hover .lien-cv {
  color: orange;
}

// .button-home {
//   text-align: center;
//   padding: 2% 7% 12% 3%;
//   font-size: 1rem;
//   background-color: rgb(76, 125, 91);
//   height: 33%;
//   width: 120%;
//   border: solid 4px rgb(84, 187, 113);
//   border-radius: 25%;

//   .color-button {
//     color: white;
//   }
// }

.button-home {
  height: 60%;
  width: 110%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 8px 8px 10px 0 rgba(91, 163, 201, 0.5);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(84, 187, 113);
  color: #b4d0ce !important;
  border: 1px solid rgb(29, 29, 39);
  display: inline-block;
  border-radius: 19px;
  transition: all 0.3s ease-in 0s;
  margin-bottom: -26%;
}
.button-home:hover {
  text-decoration: none;
  background-color: rgb(50, 62, 65);
  color: rgb(238, 224, 224) !important;
}
.projet-flag {
  grid-area: projet-flag;
  font-size: 2rem;
}
.projet-2 {
  grid-area: projet-2;
  font-size: 2rem;
}
.projet-3 {
  grid-area: projet-3;
  font-size: 2rem;
}
.projet-4 {
  grid-area: projet-4;
  font-size: 2rem;
}
.contact1 {
  grid-area: contact;
  font-size: 2rem;
}
.home-proj {
  font-size: 1rem;
}

.header {
  grid-area: header;
}
.nav-link {
  color: $texte;
}
.navigation {
  font-size: 1.4rem;
  line-height: 28px;
  color: $color-3;

  &:before {
    content: "";
    grid-area: navigation;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: $color-3;
    z-index: -1;
    animation: navAnim 20s infinite alternate;

    @keyframes navAnim {
      50% {
        transform: scale(3.2);
      }
      100% {
        transform: scale(1);
      }
    }
    @media screen and (max-width: 430px) {
      height: 50px;
      width: 50px;
    }
  }
  .nav-active1 {
    color: $black;
  }
  ul:hover li:not(:hover) {
    opacity: 0.5;
  }
  ul:hover li:hover {
    color: orange;
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    // padding-right: 6rem;
    transition: 0.5s;
    &:hover .nav-projects,
    .nav-projects:hover {
      visibility: visible;
      opacity: 1;

      li {
        transform: rotatey(0deg);
      }
    }

    .nav-projects {
      position: relative;
      visibility: hidden;
      opacity: 0;
      padding: 0 10px;
      width: 100px;
      transform: translateX(70px);
      transition: 0.3s;
      perspective: 500px;

      li {
        transform: rotatey(30deg) scaleX(1.2);
        transform-origin: center;
        transition: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .body {
    display: grid;
    height: 1200px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr);
    gap: 3%;
    grid-template-areas:
      ". .  . header header header header header header . . . "
      ". .  projet-flag . projet-3 . navigation .  contact . . . "
      ". .  . . . . . .  . . . . "
      ". .  projet-2 . projet-4 . . .  . . . . "
      ". .  . .  . . .  .  . . . . ";
  }
  h2 {
    margin-left: -5%;
  }
  .color-button {
    margin-top: -7%;
  }

  .projet-2 {
    padding-bottom: 20%;
  }
}

@media screen and (max-width: 800px) {
  .body {
    display: grid;
    height: 1200px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr);
    gap: 3%;
    grid-template-areas:
      "    header header header header header header   "
      "   projet-flag  projet-3  navigation  . .   "
      "   . . . . . contact  . . . .  "
      "   projet-2  projet-4 . . .  . .   "
      "   . .  . . .  .  . . .  ";
  }
  h2 {
    margin-left: -13%;
  }

  .contact1 {
    grid-area: contact;
    font-size: 2rem;

    margin-left: -10%;
  }
}

@media screen and (max-width: 760px) {
  .body {
    display: grid;
    height: 1200px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr);
    gap: 3%;
    grid-template-areas:
      "    header header header header header header   "
      "   projet-flag  projet-3  navigation  . .   "
      "   . . . . . contact  . . . .  "
      "   projet-2  projet-4 . . .  . .   "
      "   . .  . . .  .  . . .  ";
  }
  h2 {
    margin-left: -28%;
  }

  .contact1 {
    grid-area: contact;
    font-size: 2rem;
    padding-right: 6%;
    margin-left: -25%;
  }
}
@media screen and (max-width: 760px) {
  .body {
    display: grid;
    height: 1200px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr);
    gap: 3%;
    grid-template-areas:
      ". .  . header header header header header header . . . "
      ". .  projet-flag . projet-3 . navigation .  contact . . . "
      ". .  . . . . . .  . . . . "
      ". .  projet-2 . projet-4 . . .  . . . . "
      ". .  . .  . . .  .  . . . . ";
  }

  h2 {
    margin-left: -42%;
  }
  .contact1 {
    margin-left: -29%;
  }

  .color-button {
    margin-top: -15%;
  }
}
