// .home {
//   display: grid;

//   width: 100%;

//   grid-template-columns: repeat(8, 1fr);
//   grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr);
//   gap: 3%;
//   grid-template-areas:
//     "  header header header header header header header header  "
//     "  . projet-flag  projet-3 . . .  contact. "
//     "   . projet-2  projet-4 . . .  . .   ";

//   .navbar {
//     height: 100px;
//     width: 100%;
//     background-color: rgb(233, 228, 228);
//     border: solid 1px rgb(233, 228, 228);
//     border-radius: 10px;

//     .social-network {
//       width: 20%;
//       font-size: 1.4rem;
//       .color-social {
//         color: #3b5998;
//       }
//       .color-lin {
//         color: #0e76a8;
//       }

//       ul {
//         display: flex;
//         width: 100%;
//         min-width: 100px;
//         justify-content: space-around;

//         @media screen and (max-width: 450px) {
//           min-width: 100%;
//         }

//         a {
//           transition: 1.1s ease-out;
//         }
//       }
//     }

//     .div-block {
//       position: absolute;
//       width: 140px;
//       right: 20%;
//       top: 50px;
//     }
//     H1 {
//       color: black;
//       display: block;
//       padding: 8px 5px 5px 8px;
//       border: solid 2px rgb(255, 255, 255);
//       border-radius: 25px;
//       background-color: rgb(250, 250, 250);
//       box-shadow: 0px 5px 6px rgb(203, 199, 199);
//       align-items: center;
//     }

//     span {
//       display: block;
//       font-weight: 900;
//       font-size: large;
//     }
//   }
//   li {
//     color: $texte;
//   }
//   .en-cours {
//     color: black;
//   }
//   .header-home {
//     color: white;
//     font-size: 2rem;
//   }
//   .title-cv {
//     color: $initial-color;
//   }
//   .lien-cv {
//     color: rgb(50, 47, 43);
//   }

//   :hover .lien-cv {
//     color: rgb(104, 101, 97);
//   }

//   .button-home {
//     height: 100px;
//     width: 200px;
//     text-align: center;
//     cursor: pointer;
//     box-sizing: border-box;
//     box-shadow: 0 3px 8px rgb(50, 62, 65);
//     font-weight: bold;
//     text-transform: uppercase;
//     background-color: rgb(50, 62, 65);
//     display: inline-block;
//     border-radius: 19px;
//     transition: all 0.3s ease-in 0s;
//   }
//   .button-home:hover {
//     text-decoration: none;
//     background-color: rgb(93, 113, 118);
//     color: rgb(238, 224, 224) !important;
//     box-shadow: 0 3px 8px rgb(50, 62, 65);
//   }
//   .contact1 {
//     grid-area: contact;

//     text-align: center;

//     ul {
//       padding-top: 24px;
//       padding-right: 100px;
//       height: 100px;
//       width: 260px;
//       font-size: 2rem;
//       cursor: pointer;
//       box-sizing: border-box;
//       box-shadow: 0 3px 8px rgb(50, 62, 65);
//       font-weight: bold;
//       text-transform: uppercase;
//       background-color: rgb(50, 62, 65);
//       border-radius: 19px;
//       transition: all 0.3s ease-in 0s;

//       font-size: 2rem;
//     }
//   }
//   .projet-flag {
//     grid-area: projet-flag;
//     font-size: 2rem;
//     padding-right: 18%;
//     padding-left: 3%;
//   }
//   .projet-2 {
//     grid-area: projet-2;
//     padding-right: 18%;
//     font-size: 2rem;
//     padding-left: 3%;
//   }
//   .projet-3 {
//     grid-area: projet-3;
//     font-size: 2rem;
//     padding-right: 18%;
//     padding-left: 3%;
//   }
//   .projet-4 {
//     grid-area: projet-4;
//     font-size: 2rem;
//     padding-right: 18%;
//     padding-left: 3%;
//   }

//   .home-proj {
//     font-size: 1rem;
//   }

//   .header {
//     grid-area: header;
//     text-align: center;
//   }
//   .nav-link {
//     color: $texte;
//   }

//   @media screen and (max-width: 425px) {
//     max-width: 425px;
//   }
//   @media screen and (max-width: 375px) {
//     max-width: 375px;

//     display: grid;
//     max-width: 375px;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: (1fr, 1fr, 1fr, 1fr, 1fr);
//     gap: 3%;
//     grid-template-areas:
//       "  header header header header   "
//       "  . projet-flag  projet-3 .  "
//       "   . projet-2  projet-4 .   "
//       "   . contact contact .   ";
//     .contact1 {
//       margin-right: 20%;
//     }
//   }
// }

// .gitHub {
//   color: black;
// }

.home {
  .button-project {
    width: 100vw;
    border: 1px solid #f9eded;
    border-radius: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
  }
  .button {
    color: #c5bcbe;
  }
  .plus {
    color: #c5bcbe;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1c1f35;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-width: 1px;
    border-radius: 5px;
  }
  .grey {
    color: #c5bcbe;
  }
}
