.NavDown {
  background-color: #363434;
  display: flex;
  margin-top: 2%;
  height: 10vh;
  h1 {
    margin-left: 15%;
    text-align: center;
    color: #39c394;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
  }
  img {
    margin-left: 18%;
    height: 17vh;
  }
  p {
    text-align: center;
    margin-right: 10%;
    color: #39c394;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
  }
}
