.NavDown {
  background-color: #363434;
  display: flex;
  margin-top: 2%;
  height: 10vh;
  h1 {
    text-align: center;
    color: #39c394;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
  }
  img {
    height: 13vh;
  }
}
