nav {
  width: 100vw;
  display: flex;
  background: $background-nav;
  flex-direction: column;
  margin-top: 5px;

  .h1 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-width: 1px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    h1 {
      box-shadow: $shadow-button;
      border-width: 1px;
      border-radius: 5px;
    }
  }
  // z-index: 10;
  .p-body {
    padding-left: 5px;
    padding-right: 5px;
    color: $couleur-p;
    li {
      color: $color-p-nav;
    }
    a {
      color: $color-p-nav;
      text-align: center;
    }
    .li-big {
      color: black;
    }
    .contactez-moi {
      display: flex;
      align-content: flex-end;
      height: 6vw;
      width: 20vw;
      align-items: center;

      box-shadow: $shadow-button;
      border-width: 1px;
      border-radius: 5px;
      color: $color-p-nav;

      img {
        height: 100%;
        background-color: lightgray;
        border: 1px solid white;
        border-radius: 10px;
        margin-left: 5%;
      }
    }
  }
  .button {
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: $button-nav;
    box-shadow: $shadow-button, $shadow-bas;
    border-width: 1px;
    border-radius: 5px;
  }
  .liste {
    background: $background-liste;
    height: 4vh;
    display: flex;
    list-style-type: none;
    color: rgb(218, 223, 213);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(87, 129, 155, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px;
    padding-right: 2px;

    .li-nav {
      padding-left: 5px;
      padding-right: 5px;
      transform: translate(-50%, +50%);
      font-size: 13px;
      display: inline;
      background-color: $li-nav;
      box-shadow: 1px 10px 20px 1px rgb(184, 176, 176),
        rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(188, 201, 45, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      border-width: 1px;
      border-radius: 5px;
      color: rgb(232, 226, 226);
    }
    .li-nav ::after {
      content: "";
      width: 100%;
      height: 3px;
      background: white;
      color: white;
      transform: scale(0);
      transition: transform 0.2s ease-in-out;
    }
    .li-nav :hover ::after {
      transform: scale(1);
    }
  }
  .github {
    display: flex;
    flex-direction: row;
    height: 6vw;
    width: 35vw;
    justify-content: space-between;
    align-items: center;
    span {
      color: rgb(252, 252, 252);
    }

    img {
      height: 100%;
      background-color: lightgray;
      border: 1px solid white;
      border-radius: 10px;
    }
  }
}

@media (min-width: 700px) {
  * {
    font-size: 20px;
  }
  nav {
    .p-body {
      margin: 0 10%;

      .h1 {
        margin-left: -5%;
        margin-right: -5%;
      }
    }
    .liste {
      padding-left: 1%;
      padding-right: 1%;

      margin: 0 +5% 0 +5%;
      font-size: 30px !important;

      border-width: 1px;
      border-radius: 5px;
      li {
        font-size: 25px !important;
      }
    }
  }
}
