nav {
  height: 400px;
  width: 100%;

  display: flex;
  flex-direction: column;

  ul .liste {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
  }
  .items {
    height: 100%;
    color: white;
    cursor: pointer;
  }

  .btn {
    display: none;
    font-size: 0.9rem;
  }

  // z-index: 10;
  .p-body {
    height: 400px;
    color: $couleur-p;
    background-image: url(../assets/fond.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;

    .cercle {
      display: block;
      position: absolute;
      height: 100px;
      margin-right: 35%;
      margin-left: 31%;
      margin-top: -7%;
      width: 100px;

      img {
        height: 120px;
      }
    }
    .bienvenue {
      width: 80%;
      span {
        margin-left: 4%;
        font-family: $raleway;
        font-weight: 900;
        color: #1b433f;
        font-size: 1.2rem;

        color: rgb(43, 42, 42);
      }
      p {
        margin-top: 10%;
        margin-left: 22%;
        color: #707070;
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 0.6rem;
        font-weight: 600 !important;
      }
    }
    .liste1 {
      background: #39c394;
      height: 50px;
      display: flex;
      list-style-type: none;
      color: rgb(247, 243, 243);
      align-items: center;
      padding-left: 3%;
      padding-right: 1%;
      justify-content: space-between;

      .troisTraits {
        display: flex;
        height: 40px;
        width: 120px;
        border-radius: 5px;
        background-color: $li-nav;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;

        img {
          height: 40px;
          width: 45px;
        }
      }
      .li-nav1 {
        position: absolute;
        z-index: 3;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 1rem;
        background-color: $li-nav;
        border-radius: 5px;
        color: rgb(232, 226, 226);
        cursor: pointer;
        border-radius: 7px;
        background: #56c49d;
        box-shadow: 11px 11px 12px #52ba95, -11px -11px 12px #5acea5;
      }
      li-nav1:hover {
        border-radius: 7px;
        background: #56c49d;
        box-shadow: inset 11px 11px 12px #52ba95, inset -11px -11px 12px #5acea5;
      }
      .liste-nav-active-2 {
        color: black;
        background-color: white;
      }
    }
  }

  .contactez-moi {
    margin-top: 7%;
    margin-left: 2%;
    padding: 0% 8% 0% 8%;
    display: flex;
    height: 50px;
    width: 120px;
    background-color: white;
    color: #39c394;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 7px;
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow: 7px 7px 16px #dadada, -7px -7px 16px #e1e0e0;

    img {
      height: 40px;
      margin-right: 30%;
      border-radius: 10px;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 8%;
    }
  }
  .contactez-moi:hover {
    border-radius: 7px;
    background: #fafafa;
    box-shadow: inset 7px 7px 16px #ebebeb, inset -7px -7px 16px #ffffff;
  }

  .liste {
    height: 80px;
    display: flex;
    list-style-type: none;
    color: rgb(218, 223, 213);
    border-radius: 10px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px;
    padding-right: 2px;

    .li-nav {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 13px;
      background-color: $li-nav;
      color: rgb(232, 226, 226);
    }
    .liste-nav-active {
      color: rgb(118, 111, 111);
      background-color: white;
    }
  }

  .github {
    font-size: 1rem;
    display: flex;
    height: 50px;
    width: 170px;
    justify-content: space-around;
    align-items: center;
    margin: 8%;
    border-radius: 5px;
    background-color: #19433f;
    font-family: $raleway;
    margin-left: 17%;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    background: #19433f;
    box-shadow: px 6px 39px #175420, -11px -11px 12px #ffffff;

    img {
      margin-left: 4%;
      height: 80%;
      background-color: white;
      border-radius: 10px;
    }
  }

  .github:hover {
    border-radius: 7px;
    background: #ffffff;
    box-shadow: inset 11px 11px 12px #f2f2f2, inset -11px -11px 12px #ffffff;
    color: #39c394;
  }
  .social-network {
    display: flex;
    text-align: center;
    height: 50px;

    .content1 {
      padding: 11% 8% 9% 8%;
      height: 50px;
      width: 50px;
      border-radius: 5px;
      margin-right: 30px;
      border-radius: 7px;
      background: linear-gradient(145deg, #e1e1e1, #ffffff);
      box-shadow: 7px 7px 16px #dadada, -7px -7px 16px #e1e0e0;
    }
    .content1:hover {
      border-radius: 7px;
      background: #fafafa;
      box-shadow: inset 7px 7px 16px #ebebeb, inset -7px -7px 16px #ffffff;
    }
    .fab {
      color: black;
    }
    .content2 {
      padding: 11% 8% 9% 8%;
      height: 50px;
      width: 50px;
      border-radius: 5px;
      background: black;
      border-radius: 7px;
      margin-right: 30px;
      box-shadow: 7px 7px 16px #dadada, -7px -7px 16px #e1e0e0;
    }
    .content2:hover {
      border-radius: 7px;
      background: black;
      box-shadow: inset 7px 7px 16px #ebebeb, inset -7px -7px 16px #ffffff;
    }
    .color-lin {
      color: #41a78a;
    }
  }
  .contact-reseaux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
  }

  @media screen and (max-width: 500px) {
    .btn-items {
      background-color: #41a78a;
      position: absolute;
      color: white;
      font-size: 2rem;
      margin-top: 8%;
      margin-left: 55%;
      border-radius: 10px;
    }
    .liste {
      z-index: 10;
      flex-direction: column;
    }
    .items:nth-child(1) {
      border-top: 1px solid whitesmoke;
    }
    .items {
      font-family: "Montserrat Alternates", sans-serif;
      backdrop-filter: blur(40px);
      color: black;
      text-align: center;
      width: 100vw;
      border-bottom: 1px solid #ffd;
      line-height: 15vh;
      font-size: 1.5rem;
    }
    .btn {
      z-index: 12;
      display: block;
      position: absolute;
      right: 10px;
      font-size: 0.9rem;
      color: rgb(162, 161, 161);
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 450px) {
  nav .p-body .cercle img {
    height: 150px;
  }
}
@media screen and (min-width: 600px) {
  nav .p-body .cercle img {
    height: 180px;
  }

  nav .p-body .bienvenue p {
    font-size: 1.3rem;
  }
  nav .p-body {
    height: 570px;
  }
  .slideShow {
    margin-top: 15%;
  }
}
@media screen and (min-width: 600px) {
  nav .p-body .cercle img {
    height: 180px;
    margin-top: 5%;
  }
}

@media screen and (min-width: 800px) {
  nav .p-body .cercle img {
    height: 220px;
    margin-top: 10%;
  }
  .slideShow {
    margin-top: 18%;
  }
}

@media screen and (min-width: 800px) {
  nav .p-body .cercle img {
    margin-top: 15%;
  }
}
@media screen and (min-width: 1100px) {
  nav .p-body {
    height: 630px;
  }
  nav .p-body .cercle img {
    margin-top: 25%;
  }
}

@media screen and (min-width: 1200px) {
  nav .p-body {
    height: 730px;
    margin-bottom: 10%;
  }
  nav .p-body .cercle img {
    margin-left: 50%;
    margin-top: 45%;
  }

  .slideShow {
    margin-top: 30%;
  }
}

@media screen and (min-width: 1660px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  nav .p-body .cercle img {
    height: 230px;
    padding-top: 40%;
  }
}
