.navDown {
  background-image: url(../assets/rayon.svg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  min-width: 100vw;
  height: 300px;
  margin-left: -1%;
  margin-right: -1%;
  p {
    color: #39c394;
    padding-top: 200px;
    font-size: 1rem;
    text-align: center;
  }
}
