nav {
  width: 100vw;
  display: flex;
  flex-direction: column;

  ul .liste {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  .items {
    margin-right: 1%;
    height: 100%;
    color: white;
    cursor: pointer;
  }

  .btn {
    display: none;
    font-size: 0.9rem;
  }

  // z-index: 10;
  .p-body {
    color: $couleur-p;
    background-image: url(../assets/fond.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;

    .cercle {
      height: 10vw;
      margin-right: 35%;
      margin-left: 41%;
      margin-top: -7%;
      width: 35vw;
      img {
        width: 130%;
      }
    }
    .bienvenue {
      margin-top: -2%;
      width: 80%;
      span {
        margin-left: 4%;
        font-family: $raleway;
        font-weight: 900;
        color: #1b433f;
        font-size: 1.2rem;

        color: rgb(43, 42, 42);
      }
      p {
        margin-left: 22%;
        color: #707070;
        font-family: "Leckerli One", cursive;
        font-size: 0.6rem;
        font-weight: 600 !important;
      }
    }
    .liste1 {
      background: #39c394;
      height: 4vh;
      display: flex;
      list-style-type: none;
      color: rgb(247, 243, 243);
      align-items: center;
      padding-left: 3%;
      padding-right: 1%;
      justify-content: space-between;

      .troisTraits {
        margin-left: auto;
        display: flex;
        height: 90%;
        width: 22vw;
        border-radius: 5px;
        background-color: $li-nav;

        color: rgb(250, 250, 250);
        align-items: center;
        justify-content: space-around;
        margin-right: 2.5%;
        img {
          height: 80%;
          width: 40%;
        }
      }
      .li-nav1 {
        position: absolute;
        z-index: 3;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.9rem;
        background-color: $li-nav;
        border-radius: 5px;
        color: rgb(232, 226, 226);
      }
      .liste-nav-active-2 {
        color: black;
        background-color: white;
      }
    }
  }

  .contactez-moi {
    margin-top: 2%;
    margin-left: 2%;
    padding: 1% 8% 1% 8%;
    display: flex;
    height: 2.5vh;
    width: 25vw;
    border-radius: 5px;
    background-color: white;
    color: #39c394;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    img {
      height: 2vh;
      background-color: rgb(250, 246, 246);
      border-radius: 10px;
      padding-top: 1%;
      padding-bottom: 1%;
    }
  }

  .liste {
    height: 8vh;
    display: flex;
    list-style-type: none;
    color: rgb(218, 223, 213);
    border-radius: 10px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px;
    padding-right: 2px;
    .li-nav {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 13px;
      background-color: $li-nav;
      color: rgb(232, 226, 226);
    }
    .liste-nav-active {
      color: rgb(118, 111, 111);
      background-color: white;
    }
  }

  .github {
    font-size: 1rem;
    display: flex;
    height: 6vw;
    width: 36vw;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $button-nav;
    font-family: $raleway;
    margin-left: 17%;

    span {
      color: rgb(252, 252, 252);
      @media (min-width: 700px) {
        * {
          font-size: 20px;
        }
      }
    }

    img {
      height: 80%;
      background-color: lightgray;
      border-radius: 10px;
    }
  }
  .social-network {
    display: flex;
    text-align: center;
    margin-right: 9%;
    margin-top: -2%;

    .content1 {
      padding: 14% 10% 10% 14%;
      border-radius: 5px;
      background-color: #fafcfc;
      display: flex;
      margin-right: 20%;
    }
    .fab {
      color: black;
    }
    .content2 {
      padding: 14% 10% 10% 14%;
      background-color: #091d17;
      border-radius: 6px;
    }
    .color-lin {
      color: #41a78a;
    }
  }
  .contact-reseaux {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 500px) {
    .btn-items {
      background-color: #41a78a;
      position: absolute;
      color: white;
      font-size: 2rem;
      margin-top: 8%;
      margin-left: 55%;
      border-radius: 10px;
    }
    .liste {
      z-index: 10;
      flex-direction: column;
    }
    .items:nth-child(1) {
      border-top: 1px solid whitesmoke;
    }
    .items {
      font-family: "Montserrat Alternates", sans-serif;
      backdrop-filter: blur(40px);
      color: black;
      text-align: center;
      width: 100vw;
      border-bottom: 1px solid #ffd;
      line-height: 15vh;
      font-size: 1.5rem;
    }
    .btn {
      z-index: 12;
      display: block;
      position: absolute;
      right: 10px;
      font-size: 0.9rem;
      color: rgb(162, 161, 161);
      cursor: pointer;
    }
  }
}

@media (min-width: 700px) {
  * {
    font-size: 1.7rem;
  }
}
