.label-todo{
color: black;
;
}

.input-todo-text{
    color: black;
    width: 190px;
    background-color: blanchedalmond;
    }
    .input-todo-submit:hover{
        color: black;
        
        }
    .form-todo{
        color: black;
        
        }