@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
$initial-color: black;
$black: black;

$button-nav: #39c394;
$couleur-p: white;
$color-p-nav: white;
$background-nav: black;

$shadow-button: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
  rgba(188, 201, 45, 0.65) 0px 3px 5px -1px,
  rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

$shadow-bas: 1px 10px 20px 1px rgb(49, 65, 52);
$background-liste: black;
$li-nav: #39c394;
$background-bas: black;

* {
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  overflow: visible;
}

$font-2: #8c6e6e;
$color-2: #0955a056;
$color-4: #0955a056;
$color-3: #0955a056;
$color-1: #0955a056;
