@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,600&display=swap");

$background: #ffffff;
$texte: white;
$black: black;
$texte: #5e97ba;
$initial-color: rgb(179, 42, 40);

* {
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: $background;
  font-family: "Josefin Sans", sans-serif;
  color: $texte;
  overflow: visible;
}

$font-2: #8c6e6e;
$color-2: #0955a056;
$color-4: #0955a056;
$color-3: #0955a056;
$color-1: #0955a056;
