.slideShow {
  text-align: center;
  path {
    color: red;
  }
  .un {
    font-family: $raleway;
    font-weight: 900;
    color: #1b433f;
    font-size: 1.5rem;
  }
  .deux {
    color: #707070;
    font-family: "Leckerli One", cursive;
    font-size: 1.5rem;
    font-weight: 600 !important;
  }
  .each-slide {
    padding-bottom: 10%;

    .projSlide {
      width: 100vw;
      margin-top: 58%;

      border-radius: 10px;
    }
  }
  .each-slide > .slide {
    height: 65vw;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: 5px 5px 5px 0px rgba(210, 197, 197, 0.4);
    border-radius: 15px;
    display: flex;

    img {
      width: 5%;
      height: 5%;
    }
  }

  .button {
    opacity: 0.7;
    height: 3vh;
    background: rgb(31, 26, 26);
    font-family: $raleway;
    font-weight: 900;
    color: #f6f9f8;
    font-size: 1rem;
    padding-top: 1%;
  }
  .plus {
    margin: auto;
    margin-top: 8%;
    width: 50vw;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #39c394;
    padding-bottom: 3%;
    padding-top: 3%;

    justify-content: center;
    border-radius: 15px;
    font-size: 1rem;
  }
  .grey {
    color: white;
  }
}

@media (min-width: 700px) {
  .slideShow .button {
    height: 9vh;
  }
}
