.slideShow {
  height: 85vw;
  text-align: center;

  .un {
    margin-top: -3%;
    font-family: $raleway;
    font-weight: 900;
    color: #1b433f;
    font-size: 1.5rem;
  }
  .deux {
    margin-top: -6%;
    color: #707070;
    font-family: "Leckerli One", cursive;
    font-size: 1.5rem;
    font-weight: 600 !important;
  }
  .each-slide > div {
    margin-left: 5%;
    margin-right: 5%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

    box-shadow: 1px 3px 3px 3px #faf4f4;

    border: 3px solid rgb(237, 233, 233);
    border-radius: 15px;
    display: flex;
    img {
      width: 10px;
      height: 10px;
    }
  }

  .each-slide .projSlide {
    width: 100%;
    margin-top: 70%;
    padding: 20px;
    font-size: 20px;
    background: #ffffff;
    text-align: center;
  }

  .eachsSlide .button {
    width: 60vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;

    padding-bottom: 2%;
  }
  .button {
    color: #010101;
  }
  .plus {
    margin: auto;
    width: 50vw;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #39c394;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-top: 5%;
    justify-content: center;
    border-radius: 5px;
  }
  .grey {
    color: white;
  }
}
@media (min-width: 700px) {
  * {
    font-size: 20px;
  }
  .button-project {
    margin: 0 10% 0 10%;
  }
}
