@import "./settings";
@import "./projet-page.scss";
@import "./notFound";
@import "./card";
@import "./dynamicText";
@import "./buttons-scroll";
@import "./page-formulaire";
@import "./projet";
@import "./navbar.scss";
@import "./slideShow";
