@import "./settings";
@import "./projet-page.scss";
@import "./home";
@import "./notFound";
@import "./card";
@import "./social_networks";
@import "./dynamicText";
@import "./buttons-scroll";
@import "./formulaire";
@import "./projet";
@import "./contact";
@import "./pagesTest.scss";
