@import "./settings";
@import "./projet-page.scss";
@import "./home";
@import "./notFound";
@import "./card";
@import "./dynamicText";
@import "./buttons-scroll";
@import "./formulaire";
@import "./projet";
@import "./navbar.scss";
